@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'open sans condensed';
    line-height: 1.6;
    backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

#tete {
    display: grid;
    position: relative;
    flex-direction: column;
}

#slogan {
    margin-bottom: 15px;
}

/* NAVBAR */

.navbar a {
    margin: 15px;
    padding: 0 15px;
    text-decoration-line: none;
    color: black;
    font-weight: 600;
}

.navbar ul {
    display: flex;
    margin-top: 10px;
    padding: 5px;
    box-shadow: 1px 1.5px 5px #000;

}

ul {
    list-style-type: none;


}

#navbar li {
    height: 30px;
}

.navbar li:hover {
    border-bottom: 1.5px #000 solid;
}

.main {
    justify-content: center;
}

.main h1 {
    text-align: center;
    font-size: 3rem;
}

.main p {
    text-align: center;
    font-size: x-large;
}

#big {
    color: whitesmoke;
    width: 85%;
    
}
.sub-head p{
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: -30px;
    font-family: 'Megrim', monospace;
    color: #094fa3;
    text-shadow: 2px 2px 5px #021225;
}

#sub-head-img {
    padding: 30px;
    width: 150px;
    
    
}

section h2 {
    color: #323333;
    font-size: 2rem;
    padding: 10px;
    box-shadow: 2px 2px 5px #000;
    margin-bottom: 30px;
}