.flex {
    display: flex;
    height: 100%;

}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.block {
    display: block;
    margin: auto;
    text-align: center;
}

.m-1 {
    margin: 1rem;
}